<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- mockk-android and blurhash-android are minSdk 21; force them onto this module's minSdk 14
         so the androidTest manifest merge succeeds (test-only deps, never shipped to API 14). -->
    <uses-sdk tools:overrideLibrary="io.mockk.android, io.mockk.proxy.android, com.vanniktech.blurhash" />

    <application>

        <!--
        This is mandatory to run integration tests
        -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
