<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Instrumentation-only dependencies declare minSdk 18-21; forced onto this module's minSdk 14 so
         the androidTest manifest merge succeeds. None of this is shipped, and instrumentation tests only
         ever run on a device new enough for them. -->
    <uses-sdk tools:overrideLibrary="
        com.airbnb.lottie, android_libs.ub_uiautomator,androidx.browser, androidx.test.core, androidx.test.monitor,
        androidx.test.rules, androidx.test.runner, androidx.test.services.storage,
        androidx.test.espresso.core, androidx.test.espresso.contrib, androidx.test.espresso.intent,
        androidx.test.espresso.idling.resource, com.adevinta.android.barista,
        com.airbnb.mvrx, com.airbnb.mvrx.mocking, com.airbnb.mvrx.rxjava2, com.airbnb.mvrx.test,
        com.gabrielittner.threetenbp, com.github.penfeizhou.animation.apng,
        com.github.penfeizhou.animation.frameanimation, com.vanniktech.blurhash,
        io.mockk.android, io.mockk.proxy.android, io.noties.markwon, io.noties.markwon.ext.latex,
        io.noties.markwon.image.glide, io.noties.markwon.inlineparser,
        jp.wasabeef.glide.transformations, me.saket.bettermovementmethod, org.maplibre.android,
        org.maplibre.android.gestures, org.maplibre.android.plugins.annotation,
        org.unifiedpush.android.connector, ru.noties.jlatexmath.android" />

    <application>
        <activity android:name="im.vector.app.features.pin.lockscreen.tests.LockScreenTestActivity" />
    </application>

</manifest>
